.header {
  height: 100vh; /*viewportheight*/
  width: 100vw; /*viewportwidth*/
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;


  .header-bg {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    
  }
    
  
    

  &-content {
    color: $text-color;
    text-align: center;

    h1 {
      font-size: 7vmin;
      margin-bottom: 30px;
      margin-top: 110px;
      color: purple;
    }

    h2 {
      font-size: 4vmin;
    }
  }
}
